@media (max-width: 768px){
    body{
        background-color: rgb(150, 146, 217);
    }


.bio{
    width: 40%;
    padding-left: 5%;
    
}

img{
    float:right;
    margin-right: 100px;
    margin-top: 80px;
    width: 30%;
    border-radius: 50%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    background-color:  moccasin;
    font-weight: 600;
    color: rgb(9,54,9);
}
nav a{
        color: lightcyan;
    }

nav a:hover{
        color: rgb(231, 82, 208);
    }
    p{
        color: black;
        font-weight: 600;
    }

    h1{
        color: navy;
        font-weight: 600;
        text-align: center;
    }

    h3{
        color: navy;
        font-weight: 600;
    }
    
    h4,li{
        color: navy;
        font-weight: 600;
    }

    nav{
        background-color: navy;
        font-weight: 600;
        color: white;
    }

    .box table, th, td, tr{
        border: 2px solid navy;
        padding: 2%;
        border-collapse: collapse;
    }

    .box table tr{
        color: navy; 
        font-weight: 600;
    }

    .box table{
        outline: 2px solid black;
        outline-offset: 3px;
        margin: 30px auto;
    }

    .box table tr:nth-child(even){
        color: blue;
        font-weight: 600;
    }

    .box table tr:hover{
        color: antiquewhite;
        background-color: brown;
        
    }

    #fav_web a{
        color: navy;
        font-weight: 700;
    }

    #Projects a{
        color: navy;
        font-weight: 700;
    }
    #Experience a{
        color: black;
        font-weight: 700;
    }
    #Experience a:hover{
        color: darkred;
    }
    #fav_web a:hover{
        color: darkred;
    }
    #Projects a:hover{
        color: darkred;
    }
    form{
        color: rgb(104, 14, 5);
    }

    .favs{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .fav_movie,.fav_show,.fav_song{
        height: 350px;
        width: 400px;
        padding-top: 30px;
        border: solid yellow;
        border-radius: 30px;
        align-items: center;
        position: relative;
        text-align: center;
    }
    
    .favs iframe{
        width: 350px;
        height: 250px;
        align-items: center;
        padding-bottom: 20px;
    }

    span{
        color: aqua
    }
    
    input{
        font: inherit;
    }
    
    #song{
        color: black;
    }
    
    ul{
        text-align: center;
        list-style-position: inside;
    }

    a:visited{
        color: lightblue;
    }
    
    a:hover, :focus{
        color: aqua
    }
    
    a:active{
        color: red;
    }
}

@media print{
    .headshot{
        display: none;
    }
}






